.apod {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-areas: "left right";
  // overflow: hidden;
  align-items: center;
  @media screen and (max-width: 1000px) {
    grid-template-columns: 100%;
    grid-template-areas: "right" "left";
  }
  .left {
    grid-area: left;
    padding: 3rem 1rem 3rem 0;
    position: relative;
    // backdrop-filter: blur(10px);
    height: 100%;
    display: flex;
    flex-direction: column;
    @media screen and (max-width: 1000px) {
      padding: 1rem 0;
    }
  }
  .right {
    grid-area: right;
    align-items: center;
    display: flex;
    position: relative;
    height: 75vh;
    max-height: 800px;
    > div {
      height: 100%;
      width: 100%;
      border-radius: 12px;
      overflow: hidden;
      img {
        cursor: pointer;
        object-fit: cover;
        object-position: center;
        width: 100%;
        height: 100%;
      }

      &.videoWrapper {
        height: auto;
      }
    }
    @media screen and (max-width: 1000px) {
      height: 440px;
    }
    aside {
      position: absolute;
      bottom: 1rem;
      left: 1rem;
      padding: 0.5rem 1rem;
      background: rgba(49, 49, 50, 0.75);
      border-radius: 0.5rem;
      font-size: 12px;
      &::before {
        content: "\00a9";
        margin-right: 0.25rem;
      }
    }
    .loading-container {
      justify-content: center;
      align-items: center;
      height: 100%;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  .left-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: auto;
    .date-picker-input {
      width: 125px;
      text-align: center;
      font-size: 1rem;
    }
    .btn-group {
      a {
        cursor: pointer;
        border: none;
        background: none;
        color: var(--color-main);
        font-size: 2rem;
        padding: 0.5rem;
        transition: all 0.2s ease-in-out;
        &:hover {
          transform: scale(1.1);
        }
        &.disabled {
          cursor: not-allowed;
          opacity: 0.5;
          pointer-events: none;
        }
      }
    }
  }
  h2 {
    background-image: linear-gradient(90deg, #702bfc, #f23bff, #ff7076);
    background-clip: linear-gradient(90deg, #702bfc, #f23bff, #ff7076);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 0 0 1rem;
    padding-bottom: 1rem;
    border-bottom: 5px solid var(--color-main);
    @media screen and (max-width: 1000px) {
      font-size: 3rem;
    }
  }
  p {
    font-size: 1rem;
    line-height: 1.5rem;
    letter-spacing: 0.5px;
  }
}
.fa-spinner {
  animation: fa-spin 2s infinite linear;
  font-size: 5rem;
}
.embedContainer {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
}
.embedContainer iframe,
.embedContainer object,
.embedContainer embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.archive {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: var(--size-8);
}

.loadMore {
  display: block;
}
