#root {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  width: var(--size-xl);
  max-width: 95%;
  margin: 0 auto;
}

.pageTitle {
  margin-bottom: var(--size-5);
}

select {
  appearance: none;
  padding-inline: 1.25ch;
}

button {
  padding-inline: var(--size-2);
  padding-block: var(--size-1);
  border-radius: var(--radius-1);
  background-color: var(--indigo-2);
  color: var(--gray-9);

  &:hover {
    background-color: var(--indigo-3);
  }
}

.shake {
  animation: var(--animation-bounce);
  animation-duration: infinite;
}
