#root {
  min-height: 100vh;
  margin: 0 auto;
}

.app {
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "header"
    "main"
    "footer";
}

.pageContent {
  grid-area: main;
  margin-block-end: 5rem;
  margin-inline: auto;
}

.container {
  width: var(--size-xl);
  max-width: 90vw;
  margin-inline: auto;
}

html {
  block-size: 100%;
  color-scheme: light;

  &[data-theme="dark"] {
    color-scheme: dark;

    @supports not (color-scheme: dark) {
      background: #212529;
    }
  }
}

.pageTitle {
  margin-bottom: var(--size-5);
}

select {
  appearance: none;
  padding-inline: 1.25ch;
}

.shake {
  animation: var(--animation-bounce);
  animation-duration: infinite;
}

h2 {
  font-weight: var(--font-weight-7);
  margin-bottom: var(--size-3);
}
