.card {
  border-radius: var(--radius-2);
  box-shadow: var(--shadow-2);
  background-color: var(--surface-3);
  padding: 0;
  overflow: hidden;
  transition: box-shadow 0.2s var(--ease-in-out-1),
    background-color 0.1s var(--ease-in-out-1);
  color: inherit;

  &:hover,
  &:focus {
    box-shadow: var(--shadow-3);
    background-color: var(--surface-2);
    text-decoration: none;

    img {
      transform: scale(1.025);
    }
  }

  @media (--motionOK) {
    animation: var(--animation-fade-in);
  }

  .body {
    padding-block: var(--size-fluid-1) var(--size-fluid-2);
    padding-inline: var(--size-fluid-1);

    .subtitle {
      font-size: var(--font-size-0);
      margin-bottom: var(--size-3);
    }
  }

  .imgContainer {
    height: 200px;
    overflow: hidden;
    img {
      object-fit: cover;
      object-position: center;
      width: 100%;
      height: 100%;
      transition: transform 0.1s var(--ease-in-out-1);
    }
  }

  .imgContainer {
    position: relative;
    i {
      position: absolute;
      bottom: var(--size-1);
      right: var(--size-1);
      background: var(--surface-1);
      padding: var(--size-1);
    }
  }
}
